// Variables
//
// Variables should follow the `$component-state-property-size` formula for
// consistent naming. Ex: $nav-link-disabled-color and $modal-content-box-shadow-xs.

$theme-color-key: 'base' !default;
$theme-opacity: (
  'light': 0.8,
  // opacity used with lighter colors
    'dark': 0.4,
  // opacity used with darker colors
);

$color__background-body: theme-color('background');
$color__background-pre: theme-color('background', 'dark');
$color__background-ins: $color__background-body;

$color__link: theme-color('secondary');
$color__link-visited: theme-color('secondary');
$color__link-hover: theme-color('secondary', 'dark');
$color__text-main: theme-color('foreground');

$font__main: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
  Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
$font__heading: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
  Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
$font__code: SFMono-Regular, Consolas, 'Liberation Mono', Menlo, Courier,
  monospace;
$font__line-height-body: 1.6;
$font__line-height-pre: 1.6;

$padding: 1em;
$margin__bottom: 1.5rem;

$color__border: theme-color('background', 'light');

$white: #fff !default;

// The yiq lightness value that determines when the lightness of color changes from "dark" to "light". Acceptable values are between 0 and 255.
$yiq-contrasted-threshold: 150 !default;
// Customize the light and dark text colors for use in our YIQ color contrast function.
$yiq-text-dark: theme-color('foreground') !default;
$yiq-text-light: theme-color('background') !default;

$variant-height: 1.5rem;

$columns: (
  1: 100%,
  2: 50%,
  3: 33.33%,
  4: 25%,
  5: 20%,
  6: 16.66%,
  7: 14.28%,
  8: 12.5%,
  9: 11.11%
);

$columns__margin: 3.8%;
$grid__gap: 1em;

$font-size-base: 1rem;
$logo__height: 4rem;
$icon-height: 4rem;
$nav-link-height: 1em;
$navbar-padding-y: 1em;
// $nav-height: calc(#{$nav-link-height} + #{$navbar-padding-y});
$nav-height: 83px;
$paragraph-margin-bottom: 1.5rem;
// $footer-height: calc(
//   #{$navbar-padding-y} * 2 + #{$icon-height} + #{$font-size-base} * #{$font__line-height-body +
//     #{$paragraph-margin-bottom} * 2}
// );
$footer-height: calc(
  #{$font-size-base * $font__line-height-body} + #{$paragraph-margin-bottom}
);
// $footer-height: 65px;
