// Configuration
@import './styles/colors';
@import './styles/functions';
@import './styles/variables';
@import './styles/mixins';

body {
  background-color: $color__background-body;
}

body,
button,
input,
select,
optgroup,
textarea {
  color: $color__text-main;
  font-family: $font__main;
  @include font-size(1.15);
  font-weight: 300;
  line-height: $font__line-height-body;
}

@media screen and (min-width: 600px) {
  body,
  button,
  input,
  select,
  optgroup,
  textarea {
    @include font-size(1.3);
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  clear: both;
  margin: 0 0 0.67em;
  line-height: 110%;
  color: theme-color('primary');
  word-wrap: break-word;
  flex-basis: 0;
}
h1,
h2,
h3 {
  font-family: $font__heading;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1 {
  @include font-size(2);
}
h2 {
  @include font-size(1.5);
}
h3 {
  @include font-size(1.25);
}
h4,
h5,
h6 {
  font-weight: bold;
}
h4 {
  @include font-size(1.05);
}

p {
  margin-top: 0;
  margin-bottom: 1.5em;
}

dfn,
cite,
em,
i {
  font-style: italic;
}

blockquote {
  margin: 0 1.5em;
}

address {
  margin: 0 0 1.5em;
}

pre {
  background: $color__background-pre;
  font-family: $font__pre;
  line-height: $font__line-height-pre;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1.6em;
}

code,
kbd,
tt,
var {
  font-family: $font__code;
}

abbr,
acronym {
  border-bottom: 1px dotted $color__border;
  cursor: help;
}

mark,
ins {
  background: $color__background-ins;
  text-decoration: none;
}

big {
  font-size: 125%;
}

a {
  color: $color__link;

  &:visited {
    color: $color__link-visited;
  }
  &:hover,
  &:focus,
  &:active {
    color: $color__link-hover;
    text-decoration: underline;
  }
  &:focus {
    outline: thin dotted;
  }
  &:hover,
  &:active {
    outline: 0;
  }
}

// Layout
header {
  grid-area: header;
}

aside {
  grid-area: sidebar;
}

main {
  grid-area: content;
}

footer {
  grid-area: footer;
}

@supports (display: grid) {
  .grid {
    display: grid;

    grid-template-areas:
      'header'
      'content'
      'sidebar'
      'footer';

    @include mq {
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-areas:
        'header header header'
        'content content sidebar'
        'footer footer footer';
    }
  }
  .loop-items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    @include mq {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}
