/*! Based on modern-normalize v0.5.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/* Configuration
   ========================================================================== */
@import './styles/colors';
@import './styles/functions';
@import './styles/variables';
@import './styles/mixins';

/* Document
   ========================================================================== */

html {
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  @include font-size(1.15);
  height: 100%;
}

@media screen and (min-width: 600px) {
  html {
    @include font-size(1.3);
  }
}

:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

body {
  background-color: $color__background-body;
  margin: 0;
  font-family: $font__main;
  line-height: $font__line-height-body;
}

/**
 * Text-level semantics
 */

abbr,
acronym {
  border-bottom: 1px dotted $color__border;
  cursor: help;
}

abbr[title] {
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp,
pre,
tt,
var {
  font-family: $font__code;
}

pre {
  background: $color__background-pre;
  line-height: $font__line-height-pre;
  margin-bottom: $margin__bottom;
  max-width: 100%;
  overflow: auto;
  padding: $padding;
}

big {
  font-size: 125%;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

dfn,
cite,
em,
i {
  font-style: italic;
}

mark,
ins {
  background: $color__background-ins;
  text-decoration: none;
}

blockquote {
  margin: 0 $margin__bottom;
}

address {
  margin: 0 0 $margin__bottom;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  clear: both;
  margin: 0 0 0.67em;
  line-height: 110%;
  color: theme-color('primary');
  word-wrap: break-word;
  font-weight: bold;
}

h1,
h2,
h3 {
  font-family: $font__heading;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: theme-color('primary');
}

h1 {
  @include font-size(2);
}

h2 {
  @include font-size(1.5);
}

h3 {
  @include font-size(1.25);
}

h4 {
  @include font-size(1.05);
}

p {
  margin-top: 0;
  margin-bottom: $margin__bottom;
}

a {
  color: $color__link;

  &:visited {
    color: $color__link-visited;
  }

  &:hover,
  &:focus,
  &:active {
    color: $color__link-hover;
    text-decoration: underline;
  }

  &:focus {
    outline: dotted 2px;
  }

  &:hover,
  &:active {
    outline: 0;
  }
}

/* Layout
   ========================================================================== */

/**
 * Grouping content
 */

hr {
  height: 0;
}

/* Navigation
   ========================================================================== */

ul[role='menubar'],
ul[role='menu'] {
  margin: 0;
  padding: 0;

  li {
    list-style: none;
  }
}

a[role='menuitem'] {
  display: block;
  padding: 0.25em 1em 0.4em;
}

ul[role='menubar'],
ul[role='menu'] {
  [role='menuitem']:focus,
  [role='menuitem']:hover,
  [role='menuitem']:focus svg,
  [role='menuitem']:hover svg {
    background-color: theme-color('primary');
    outline: theme-color('primary') dotted 2px;
    color: color-yiq(theme-color('primary'));
  }
}

.menu-toggle {
  margin: 0.67em 1em;
}

.main-navigation {
  display: none;
  background-color: transparent;
  &--open {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    min-width: 50%;

    ul[role='menubar'] {
      display: block;
    }
  }
}

.menu-item {
  &--has-children {
    position: relative;
  }

  &:focus-within {
    background-color: theme-color('primary', 'light');
    color: color-yiq(theme-color('primary', 'light'));
  }
}

.sub-menu {
  z-index: 0;
  background-color: theme-color('primary', 'dark');

  a {
    padding-left: 1.75em;
    padding-right: 1.75em;
  }
}

/**
 * Larger Screens
 */

@media (min-width: 600px) {
  .menu-toggle {
    display: none;
  }

  .main-navigation {
    display: block;
  }

  .nav-menu {
    display: flex;
    justify-content: space-evenly;
  }

  .sub-menu {
    display: none;

    &--open {
      display: block;
      position: absolute;
      top: 100%;
      z-index: 100;
    }
  }
}

/* Components
   ========================================================================== */

/**
 * Forms
 */

button,
input,
optgroup,
select,
textarea,
.button,
.input {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0 0 $margin__bottom;
  padding: 0.5em 0.75em 0.6em;
  border-radius: 3px;

  &:focus {
    outline: theme-color('primary') dotted 2px;
  }
}

input,
optgroup,
select,
textarea,
.input {
  outline-offset: -2px;
  border-width: 1px;
  border-style: solid;
  border-color: theme-color('foreground', 'light');
}
[type='image'] {
  padding: 0;
}

button,
select,
.button {
  text-transform: none;
}

button,
[type='button'],
[type='reset'],
[type='submit'],
.button {
  -webkit-appearance: button;
  outline-offset: 0;
  cursor: pointer;

  &::-moz-focus-inner {
    border-style: none;
    padding: 0;
  }

  &:-moz-focusring {
    outline: 1px dotted ButtonText;
  }
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  padding: 0;
}

progress {
  vertical-align: baseline;
}

[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
  height: auto;
}

[type='search'] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}

[type='file'] {
  // -webkit-user-select: none;
  user-select: text;
  &::before,
  &::after {
    -webkit-user-select: none;
    display: block;
    margin: 0 auto 1em;
  }
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
  @extend .button;
  @extend .button--secondary;
  display: block;
}

.form {
  &__section {
    @include font-size(1.25);
  }
  &__group {
    display: flex;
    flex-direction: column;

    &--buttons {
      flex-direction: row;

      button {
        height: fit-content;
      }
    }
  }
  &__range {
    display: flex;
    max-width: 35ch;

    input {
      width: 100%;
    }

    &-max {
      margin-left: 1em;
    }
  }

  @media screen and (min-width: 50em) {
    &__row {
      display: flex;
    }

    &__group {
      &--buttons {
        align-items: flex-end;
      }
    }
  }
}

/**
* Interactive
*/

summary {
  display: list-item;
}

.screen-reader-text {
  border-radius: 3px;
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  word-wrap: normal !important;

  &:focus {
    background-color: theme-color('primary');
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    display: block;
    height: auto;
    width: auto;
    top: 5px;
    left: 5px;
    padding: 0.5em 1em;
    color: color-yiq(theme-color('primary'));
    font-size: inherit;
    font-weight: bold;
    line-height: normal;
    text-decoration: none;
    z-index: 100000;
  }
}

/**
 * Media
 */

img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}

/**
 * App
 */

.App {
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 100vh;
}

.site-header {
  grid-area: header;
  background-color: theme-color('background', 'dark');
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2em;
}

.logo {
  line-height: 1;
  margin: 1rem;
}

.content {
  > main,
  > aside {
    margin: 0 auto;
    padding: 0 1em;
    width: 100%;
    max-width: 45ch;
  }
}

aside {
  grid-area: sidebar;
}

main {
  grid-area: content;
}

.site-footer {
  background-color: theme-color('background', 'dark');
  padding: 0.5em 1em;
  flex-shrink: 0;

  :last-child {
    margin-bottom: 0;
  }
}

.copyright {
  text-align: center;
}

@supports (display: grid) {
  .content {
    flex: 1 0 auto;

    &--sidebar {
      display: grid;
      grid-template-rows: 1fr auto;
      grid-template-columns: minmax(0, 1fr);
      grid-template-areas:
        'content'
        'sidebar';

      @media screen and (min-width: 50em) {
        > main,
        > aside {
          margin: initial;
        }

        grid-gap: 1em;
        grid-template-columns: repeat(3, 1fr);

        &-first {
          grid-template-areas: 'sidebar content content';
        }

        &-last {
          grid-template-areas: 'content content sidebar';
        }
      }
    }
  }

  .loop-items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    @media screen and (min-width: 50em) {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}

.hero {
  width: 100vw;
  position: relative;
  left: calc((-100vw + 100%) / 2);
  margin-bottom: 3em;
}

/**
 * Media
 */

.user-profile {
  &__avatar {
    width: 150px;
    padding: 0;
    background-color: #ccc;
    position: relative;
    // background-image: url(https://image.flaticon.com/icons/png/128/109/109612.png);
    // background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
  }
  &__avatar-upload {
    border: none;
    position: absolute;
    margin: 0 auto;

    &::-webkit-file-upload-button {
      // visibility: hidden;
      margin-bottom: 0;
    }

    // &::before {
    //   content: 'Select some files';
    // }
    &:hover::before {
      // border-color: black;
    }
    &:active::before {
      // background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
    }
  }
}

.message {
  padding: 0.35em 0.75em 0.5em;

  input + & {
    margin-top: -1em;
  }

  &--error {
    color: darken(theme-color('error', 'dark'), 20%);
    background-color: rgba(theme-color('error', 'dark'), 0.5);
  }
}
