/*! Based on modern-normalize v0.5.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/* Configuration
   ========================================================================== */
@import './styles/colors';
@import './styles/functions';
@import './styles/variables';
@import './styles/mixins';

/* Document
   ========================================================================== */

html {
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  @include font-size(1.15);
  height: 100%;
}

@media screen and (min-width: 600px) {
  html {
    @include font-size(1.3);
  }
}

:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

body {
  background-color: $color__background-body;
  margin: 0;
  font-family: $font__main;
  line-height: $font__line-height-body;
}

/**
 * Text-level semantics
 */

abbr,
acronym {
  border-bottom: 1px dotted $color__border;
  cursor: help;
}

abbr[title] {
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp,
pre,
tt,
var {
  font-family: $font__code;
}

pre {
  background: $color__background-pre;
  line-height: $font__line-height-pre;
  margin-bottom: $margin__bottom;
  max-width: 100%;
  overflow: auto;
  padding: $padding;
}

big {
  font-size: 125%;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

dfn,
cite,
em,
i {
  font-style: italic;
}

mark,
ins {
  background: $color__background-ins;
  text-decoration: none;
}

blockquote {
  margin: 0 $margin__bottom;
}

address {
  margin: 0 0 $margin__bottom;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  clear: both;
  margin: 0 0 0.67em;
  line-height: 110%;
  color: theme-color('primary');
  word-wrap: break-word;
  font-weight: bold;
}

h1,
h2,
h3 {
  font-family: $font__heading;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: theme-color('primary');
}

h1 {
  @include font-size(2);
}

h2 {
  @include font-size(1.5);
}

h3 {
  @include font-size(1.25);
}

h4 {
  @include font-size(1.05);
}

p {
  margin-top: 0;
  margin-bottom: $margin__bottom;
}

a {
  color: $color__link;

  &:visited {
    color: $color__link-visited;
  }

  &:hover,
  &:focus,
  &:active {
    color: $color__link-hover;
    text-decoration: underline;
  }

  &:focus {
    // outline: 2px dotted;
    outline: dotted 2px;
  }

  &:hover,
  &:active {
    outline: 0;
  }
}

/* Layout
   ========================================================================== */
/**
 * Grouping content
 */

// article {
//   //
// }

// section {
//   //
// }

hr {
  height: 0;
}

/* Navigation
   ========================================================================== */

ul[role='menubar'],
ul[role='menu'] {
  margin: 0;
  padding: 0;

  li {
    list-style: none;
  }
}

a[role='menuitem'] {
  display: block;
  padding: 0.25em 1em 0.4em;
  color: color-yiq(theme-color('secondary'));
}

ul[role='menubar'],
ul[role='menu'] {
  [role='menuitem']:focus,
  [role='menuitem']:hover,
  [role='menuitem']:focus svg,
  [role='menuitem']:hover svg {
    background-color: theme-color('primary');
    outline: theme-color('accent') dotted 2px;
    color: color-yiq(theme-color('primary'));
  }
}

.menu-toggle {
  margin: 0.67em 1em;
}

.main-navigation {
  display: none;
  background-color: theme-color('secondary');
  &--open {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    min-width: 50%;
    // width: calc(100vw - 2em);
    // height: calc(100vh - 2em);

    ul[role='menubar'] {
      display: block;
    }
  }
}

.menu-item {
  &--has-children {
    position: relative;
  }

  &:focus-within {
    background-color: theme-color('primary', 'light');
    color: color-yiq(theme-color('primary', 'light'));
  }

  // &--active {
  // soon
  // }
}

.sub-menu {
  z-index: 0;
  background-color: theme-color('primary', 'dark');

  a {
    padding-left: 1.75em;
    padding-right: 1.75em;
  }
}

/**
 * Larger Screens
 */
@media (max-width: 599px) {
  // soon...
}
@media (min-width: 600px) {
  .menu-toggle {
    display: none;
  }

  .main-navigation {
    display: block;
  }

  .nav-menu {
    display: flex;
    justify-content: space-evenly;
  }

  .sub-menu {
    display: none;

    &--open {
      display: block;
      position: absolute;
      top: 100%;
      z-index: 100;
    }
  }
}

/* Components
   ========================================================================== */

/**
 * Forms
 */

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0 0 $margin__bottom;
}

button,
select {
  text-transform: none;
}

button,
[type='button'],
[type='reset'],
[type='submit'],
.button {
  -webkit-appearance: button;
  padding: 0.5em 1em;
  border-radius: 3px;

  &:focus {
    outline: theme-color('accent') dotted 2px;
  }

  &::-moz-focus-inner {
    border-style: none;
    padding: 0;
  }

  &:-moz-focusring {
    outline: 1px dotted ButtonText;
  }
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  padding: 0;
}

progress {
  vertical-align: baseline;
}

[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
  height: auto;
}

[type='search'] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

/**
 * Interactive
 */

summary {
  display: list-item;
}

.screen-reader-text {
  border-radius: 3px;
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  word-wrap: normal !important;

  &:focus {
    background-color: theme-color('primary');
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    display: block;
    height: auto;
    width: auto;
    top: 5px;
    left: 5px;
    padding: 0.5em 1em;
    color: color-yiq(theme-color('primary'));
    font-size: inherit;
    font-weight: bold;
    line-height: normal;
    text-decoration: none;
    z-index: 100000;
  }
}

/**
 * Media
 */

img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}

// figcaption {
//   //
// }

// figure {
//   //
// }

/**
 * App
 */
.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: relative;
}

.site-header {
  grid-area: header;
  background-color: theme-color('background', 'dark');
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2em;
}

.logo {
  line-height: 1;
  margin: 1rem;
}

aside {
  grid-area: sidebar;
  padding: 0 1em;
  max-width: 40ch;
  // margin-right: auto;
}

main {
  grid-area: content;
  padding: 0 1em;
  max-width: 65ch;
  // margin-left: auto;
}

.site-footer {
  background-color: theme-color('background', 'dark');
  padding: 0.5em 1em;
  flex-shrink: 0;

  :last-child {
    margin-bottom: 0;
  }
}

.copyright {
  text-align: center;
}

@supports (display: grid) {
  .content {
    flex: 1 0 auto;
    display: grid;
    grid-template-rows: 1fr auto;
    grid-template-columns: minmax(0, 1fr);
    grid-template-areas:
      'content'
      'sidebar';

    @media screen and (min-width: 50em) {
      grid-gap: 1em;
      grid-template-columns: repeat(3, 1fr);
      grid-template-areas: 'content content sidebar';
    }
  }

  .loop-items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    @media screen and (min-width: 50em) {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}
